<ion-grid style="height: 100%">
	<ion-row style="height: 100%" class="align-self-center ion-justify-content-center">
		<ion-col size-sm="12" size-md="4" align-self-center>
			<ion-card>
				<ion-card-header>
					<ion-card-title>Tarea</ion-card-title>
					<ion-card-subtitle>{{id.value ? 'Actualizando' : 'Creando'}} Tarea</ion-card-subtitle>
				</ion-card-header>

				<ion-card-content>
					<form [formGroup]="taskForm">
						<ion-item>
							<ion-label position="floating">Nombre</ion-label>
							<ion-input formControlName="name"></ion-input>
						</ion-item>
						<div *ngIf="checkForm || (name.invalid && (name.dirty || name.touched))">
							<div *ngIf="name.errors && name.errors.required">
								Debe indicar el nombre.
							</div>
						</div>

						<ion-item>
							<ion-label position="floating">Descripción</ion-label>
							<ion-textarea formControlName="description"></ion-textarea>
						</ion-item>
						<div *ngIf="checkForm || (description.invalid && (description.dirty || description.touched))">
							<div *ngIf="description.errors && description.errors.required">
								Debe indicar la descripción.
							</div>
						</div>
					</form>
					<ion-row>
						<ion-col size="6">
							<ion-button color="danger" (click)="cancel()" expand="block">Cancelar</ion-button>

						</ion-col>
						<ion-col size="6">
							<ion-button color="primary" (click)="save()" expand="block">
								{{id.value ? 'Actualizar' : 'Crear'}}
							</ion-button>

						</ion-col>
					</ion-row>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
</ion-grid>