<div *ngIf="list.length; else emptyList">
    <ion-card *ngFor="let task of list">
        <ion-card-header>
            {{task.name}}
            <div style="float: right">
                <ion-button color="primary" size="small" (click)="editTask(task.id)">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-button>
                <ion-button color="danger" size="small" (click)="presentAlertConfirm(task.id)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>
            </div>
        </ion-card-header>
        <ion-card-content>
            {{task.description}}
        </ion-card-content>
    </ion-card>
</div>

<ng-template #emptyList>
    <ion-card>
        <ion-card-content>
            No existen tareas.
        </ion-card-content>
    </ion-card>
</ng-template>