<ion-header>
	<ion-toolbar>
		<ion-buttons slot="primary">
			<ion-button (click)="logout()" color="primary">
				<ion-icon name="log-out"></ion-icon>
				Salir
			</ion-button>
		</ion-buttons>
		<ion-title>{{user}}</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col [hidden]="showForm">
				<app-list (toogleForm)="toggleForm()"></app-list>
			</ion-col>
			<ion-col [hidden]="!showForm">
				<app-form (toogleForm)="toggleForm()"></app-form>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
<ion-footer [hidden]="showForm">
	<ion-toolbar>
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-button expand="block" (click)="toggleForm()">Crear tarea</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-toolbar>
</ion-footer>